<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Pet Shop</title>
    <script src="{{ url_for('static', filename='js.js') }}"></script>
    <meta property="og:title" content="Pet Shop">
    <meta property="og:description" content="Dapatkan makanan dan kebutuhan hewan disini!">
    <meta property="og:image" content="{{ url_for('static', filename='logo-website.png') }}">
    <meta property="og:url" content="https://pet-shop-x.glitch.me/">
    <meta property="og:type" content="website">
    <link rel="icon" href="{{ url_for('static', filename='logo-website.png') }}" type="image/png">

</head>
<style>
    body {
        height: 100vh;
    }

    .banner {
        background-image: url("{{ url_for('static', filename='banner.png') }}");
        background-size: cover;
        background-position: center;
        height: 100%;
        /* margin-top: 0;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0; */
        animation: moveBackground 20s linear infinite;
    }

    .banner .container {
        top: 10%;
        left: 0%;
    }
</style>

<body>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{ url_for('static', filename='logo-website.png') }}" width="112" height="108" style="padding: 0;" alt="Logo">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/produk">
                    Product
                </a>
            </div>
            <div class="navbar-end">
                {% if not logged_in %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="/signup" class="button is-primary">Sign Up</a>
                        <a href="/signin" class="button is-light">Login</a>
                    </div>
                </div>
                {% else %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon">
                            <i class="fa-solid fa-user"></i>
                        </span>
                        <span>Profile</span>
                    </a>
                    <div class="navbar-dropdown">
                        <a href="/profile" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-user"></i>
                            </span>
                            <span>My Profile</span>
                        </a>
                        <a href="/riwayat-pesanan" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-history"></i>
                            </span>
                            <span>History</span>
                        </a>
                        <a href="/keranjang" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-shopping-cart"></i>
                            </span>
                            <span>Cart</span>
                        </a>
                        <hr class="navbar-divider">
                        <a href="/logout" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                            <span>Logout</span>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    
    <section class="banner">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column" style="font-family: 'Kalam', cursive;">
                    <h1 class="title" style="font-size: 50px; color: white; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); margin-bottom: 0px;">
                        Welcome to Our Website
                    </h1>
                    <img src="{{ url_for('static', filename='logo-website.png') }}">
                    <h2 class="subtitle" style="font-size: 30px; text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8) ">
                        Get food and pet-needs only here!
                    </h2>
                    {% if logged_in %}
                    <a href="/produk" class="button buy-now is-link">Get Now</a>
                    {% else %}
                    <a href="/signup" class="button buy-now is-link">Register Now</a>
                    {% endif %}
                </div>
                <div class="column is-hidden-mobile">
                    <img src="{{ url_for('static', filename='pics.png') }}">
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>PetShop</strong> Get food and pet-needs only <a href="/produk">here!</a> By Kelompok X. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>
</body>

</html>