<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofP+MM9RvH+iK5tr5Szkbe5P/SFIIJdA2b" crossorigin="anonymous">

    <title>Login</title>
</head>
<style>
    body {
        background-image: url("{{ url_for('static', filename='background.jpg') }}");
        background-size: cover;
        background-position: center;
        background-repeat: repeat-y;
        background-attachment: fixed;
        margin: 0;
    }

    .profile-image img {
        border-radius: 100%;
        width: 32px;
        height: 32px;
    }

    .produk-item .centered {
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin: 0 auto;
    }

    .produk-item figure {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .produk-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .produk-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        margin: 20px;
    }

    .produk-item {
        background-color: #ffffff;
        margin-top: 30px;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;

    }

    .produk-item img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .quantity-input {
        width: 100px;
        text-align: center;
        background-color: #f0f0f0;
        border: 1px solid #000;
    }

    .hand-pointer {
        cursor: pointer;
    }

    .qty {
        width: 40px;
        height: 25px;
        text-align: center;
    }

    input.qtyplus {
        width: 25px;
        height: 25px;
    }

    input.qtyminus {
        width: 25px;
        height: 25px;
    }
</style>

<body>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/produk">
                    Produk
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if not logged_in %}
                        <a href="/signup" class="button is-primary">Sign Up</a>
                        <a href="/signin" class="button is-light">Login</a>
                        {% else %}
                        <a href="/logout" class="button is-danger">Log Out</a>
                        <a href="/profile" class="profile-image">
                            <img class="is-rounded" src="{{ url_for('static', filename='default_profile.jpg') }}"
                                alt="Profile Image">
                        </a>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="section mt-4">
        <div class="container">
            <h1 class="title"> </h1>
            <div class="buttons">
                <button class="button" onclick="filterProducts('All')">All</button>
                <button class="button" onclick="filterProducts('Foods')">Foods</button>
                <button class="button" onclick="filterProducts('Health')">Health</button>
                <button class="button" onclick="filterProducts('Others')">Others</button>
                <div class="navbar-item">
                    <div class="field has-addons">
                        <p class="control">
                            <input class="input" type="text" placeholder="Search" id="searchInput">
                        </p>
                        <p class="control">
                            <button class="button" onclick="searchProducts()">
                                Search
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="columns is-multiline">
                {% if is_admin %}
                <div class="column is-full is-fixed-top ">
                    <button type="button" class="button is-success is-pulled-right"
                        onclick="toggleModal('tambahDataModal')">Tambah Produk</button>
                </div>
                {% endif %}

                {% for produk in produk_list %}
                <div class="column is-one-quarter product-card" data-category="{{ produk.kategori_produk }}">
                    <div class="box produk-item">
                        <h2 class="subtitle">{{ produk.nama_produk }}</h2>
                        <div class="centered">
                            <figure class="image hand-pointer" onclick="toggleModal('detailDataModal{{ produk._id }}')">
                                <img class="product-image" src="/static/produk/{{ produk.foto_produk }}"
                                    alt="Foto Produk">
                            </figure>
                        </div>
                        <p>Harga: Rp {{ produk.harga_produk }}</p>
                        {% if is_admin %}
                        <button type="button" class="button is-primary"
                            onclick="toggleModal('editDataModal{{ produk._id }}')">Edit</button>
                        <button type="button" class="button is-danger"
                            onclick="toggleModal('hapusDataModal{{ produk._id }}')">Hapus</button>
                        {% elif is_user %}
                        <button type="button" class="button is-success"
                            onclick="toggleModal('beliDataModal{{ produk._id }}')">Beli</button>
                        <button type="button" class="button is-info"
                            onclick="toggleModal('cartDataModal{{ produk._id }}')">Keranjang</button>
                        {% else %}
                        <p> </p>
                        {% endif %}
                    </div>
                </div>

                <!-- Detail -->
                <div class="modal" id="detailDataModal{{ produk._id }}">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">{{ produk.nama_produk }} Details</p>
                            <button class="delete" aria-label="close"
                                onclick="toggleModal('detailDataModal{{ produk._id }}')"></button>
                        </header>
                        <section class="modal-card-body">
                            <div class="container is-max-desktop">
                                <div class="columns is-centered">
                                    <div class="column is-half">
                                        <div class="field">
                                            <input type="hidden" name="nama_produk" value="{{ produk.nama_produk }}">
                                        </div>
                                        <h2 class="subtitle has-text-centered">{{ produk.nama_produk }}</h2>
                                        <figure class="image is-centered">
                                            <img src="/static/produk/{{ produk.foto_produk }}" alt="Foto Produk">
                                        </figure>
                                        <p class="has-text-centered">Price: Rp {{ produk.harga_produk }}</p>
                                    </div>
                                </div>
                            </div>
                            <p class="has-text-centered">Description: {{ produk.deskripsi_produk }}</p>
                        </section>
                        <footer class="modal-card-foot">
                            {% if is_admin %}
                            <button type="button" class="button is-primary"
                                onclick="toggleModal('editDataModal{{ produk._id }}')">Edit</button>
                            <button type="button" class="button is-danger"
                                onclick="toggleModal('hapusDataModal{{ produk._id }}')">Hapus</button>
                            {% elif is_user %}
                            <button type="button" class="button is-success"
                                onclick="toggleModal('beliDataModal{{ produk._id }}')">Beli</button>
                            <button type="button" class="button is-info"
                                onclick="toggleModal('cartDataModal{{ produk._id }}')">Keranjang</button>
                            {% else %}
                            <p> </p>
                            {% endif %}

                        </footer>
                    </div>
                </div>


                <!-- Edit -->
                <div class="modal" id="editDataModal{{ produk._id }}">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Edit Product {{ produk.nama_produk }}</p>
                            <button class="delete" aria-label="close"
                                onclick="toggleModal('editDataModal{{ produk._id }}')"></button>
                        </header>
                        <form action="/edit" method="POST" enctype="multipart/form-data">
                            <section class="modal-card-body">
                                <input type="hidden" name="produk._id" value="{{ produk._id }}">

                                <div class="field">
                                    <label class="label">Product Name</label>
                                    <div class="control">
                                        <input class="input" type="text" name="nama_produk"
                                            placeholder="Enter product name" value="{{ produk.nama_produk }}" required>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Product Price</label>
                                    <div class="control">
                                        <input class="input" type="text" name="harga_produk"
                                            placeholder="Enter product price" value="{{ produk.harga_produk }}"
                                            required>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Product Description</label>
                                    <div class="control">
                                        <textarea class="textarea" name="deskripsi_produk"
                                            placeholder="Enter product description"
                                            required>{{ produk.deskripsi_produk }}</textarea>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Product Category</label>
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            <select name="kategori_produk">
                                                <option value="{{ produk.kategori_produk }}">{{ produk.kategori_produk }}</option>
                                                <option value="Foods">Foods</option>
                                                <option value="Health">Health</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Product Photo</label>
                                    <div class="control">
                                        <input class="input" type="file" name="foto_produk" accept="image/*">
                                    </div>
                                </div>
                            </section>

                            <footer class="modal-card-foot">

                                <div class="field is-grouped">
                                    <div class="control">
                                        <button type="submit" class="button is-primary">Save Changes</button>
                                    </div>
                                    <div class="control">
                                        <button type="button" class="button is-link"
                                            onclick="toggleModal('editDataModal{{ produk._id }}')">Cancel</button>
                                    </div>
                                </div>
                            </footer>
                        </form>
                    </div>
                </div>


                <!-- Delete -->
                <div class="modal" id="hapusDataModal{{ produk._id }}">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Hapus {{ produk.nama_produk }}</p>
                            <button class="delete" aria-label="close"
                                onclick="toggleModal('hapusDataModal{{ produk._id }}')"></button>
                        </header>
                        <section class="modal-card-body">
                            <p>Are you sure you want to delete "{{ produk.nama_produk }}"?</p>
                        </section>
                        <footer class="modal-card-foot">
                            <form action="/delete" method="POST">
                                <input type="hidden" name="produk._id" value="{{ produk._id }}">
                                <button type="submit" class="button is-danger">Delete</button>
                                <button type="button" class="button is-link"
                                    onclick="toggleModal('hapusDataModal{{ produk._id }}')">Cancel</button>
                            </form>
                        </footer>
                    </div>
                </div>

                <!-- Add -->
                <div class="modal" id="tambahDataModal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Add New Product</p>
                            <button class="delete" aria-label="close" onclick="toggleModal('tambahDataModal')"></button>
                        </header>
                        <form action="/add" method="POST" enctype="multipart/form-data">
                            <section class="modal-card-body">

                                <div class="field">
                                    <label class="label">Product Name</label>
                                    <div class="control">
                                        <input class="input" type="text" name="nama_produk"
                                            placeholder="Enter product name" required>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Product Price</label>
                                    <div class="control">
                                        <input class="input" type="text" name="harga_produk"
                                            placeholder="Enter product price" required>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Product Description</label>
                                    <div class="control">
                                        <textarea class="textarea" name="deskripsi_produk"
                                            placeholder="Enter product description" required></textarea>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Product Category</label>
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            <select name="kategori_produk">
                                                <option value="Foods">Foods</option>
                                                <option value="Health">Health</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Product Photo</label>
                                    <div class="control">
                                        <input class="input" type="file" name="foto_produk" accept="image/*" required>
                                    </div>
                                </div>

                            </section>
                            <footer class="modal-card-foot">
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button type="submit" class="button is-primary">Add Product</button>
                                    </div>
                                    <div class="control">
                                        <button type="button" class="button is-link"
                                            onclick="toggleModal('tambahDataModal')">Cancel</button>
                                    </div>
                                </div>
                            </footer>
                        </form>
                    </div>
                </div>

                <!-- Buy -->
                <div class="modal" id="beliDataModal{{ produk._id }}">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Buy {{ produk.nama_produk }}</p>
                            <button class="delete" aria-label="close"
                                onclick="toggleModal('beliDataModal{{ produk._id }}')"></button>
                        </header>
                        <form id="buyform" action="/buy" method="POST">
                            <section class="modal-card-body">
                                <div class="field">
                                    <input type="hidden" name="produk._id" value="{{ produk._id }}">
                                </div>

                                <div class="field">
                                    <input type="hidden" name="email_pemesan" value="{{ email }}">
                                </div>

                                <div class="container is-max-desktop">
                                    <div class="columns is-centered">
                                        <div class="column is-half">
                                            <div class="field">
                                                <input type="hidden" name="nama_produk"
                                                    value="{{ produk.nama_produk }}">
                                            </div>
                                            <h2 class="subtitle has-text-centered">{{ produk.nama_produk }}</h2>
                                            <figure class="image is-centered">
                                                <img src="/static/produk/{{ produk.foto_produk }}" alt="Foto Produk">
                                            </figure>
                                            <p class="has-text-centered">Harga: Rp {{ produk.harga_produk }}</p>
                                        </div>
                                    </div>
                                </div>


                                <div class="field">
                                    <label class="label">Quantity</label>
                                    <div class="field is-grouped">
                                        <button type="button" class="button is-danger"
                                            onclick="decrementQuantity('{{ produk._id }}')">-</button>
                                        <input class="input" type="text" name="jumlah_pesanan_{{ produk._id }}"
                                            id="jumlah_pesanan_{{ produk._id }}" pattern="[0-9]+" value="1" readonly>

                                        <button type="button" class="button is-success"
                                            onclick="incrementQuantity('{{ produk._id }}')">+</button>
                                    </div>
                                </div>
                                <div class="field">
                                    <input type="hidden" name="alamat" value="{{ address }}">
                                </div>
                            </section>

                            <footer class="modal-card-foot">
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button type="submit" class="button is-primary">Buy Product</button>
                                    </div>
                                    <div class="control">
                                        <button type="button" class="button is-link"
                                            onclick="toggleModal('beliDataModal{{ produk._id }}')">Cancel</button>
                                    </div>
                                </div>
                            </footer>
                        </form>
                    </div>
                </div>


                <!-- Cart -->
                <div class="modal" id="cartDataModal{{ produk._id }}">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Add to Cart</p>
                            <button class="delete" aria-label="close"
                                onclick="toggleModal('cartDataModal{{ produk._id }}')"></button>
                        </header>
                        <form action="/cart" method="POST">
                            <section class="modal-card-body">
                                <div class="field">
                                    <input type="hidden" name="produk._id" value="{{ produk._id }}">
                                </div>

                                <div class="field">
                                    <input type="hidden" name="email_pemesan" value="{{ email }}">
                                </div>

                                <div class="container is-max-desktop">
                                    <div class="columns is-centered">
                                        <div class="column is-half">
                                            <div class="field">
                                                <input type="hidden" name="nama_produk"
                                                    value="{{ produk.nama_produk }}">
                                            </div>
                                            <h2 class="subtitle has-text-centered">{{ produk.nama_produk }}</h2>
                                            <figure class="image is-centered">
                                                <img src="/static/produk/{{ produk.foto_produk }}" alt="Foto Produk">
                                            </figure>
                                            <p class="has-text-centered">Harga: Rp {{ produk.harga_produk }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Quantity</label>
                                    <div class="field is-grouped">
                                        <button type="button" class="button is-danger"
                                            onclick="decrementCart('{{ produk._id }}')">-</button>
                                        <input class="input" type="text" name="insert_cart_{{ produk._id }}"
                                            id="insert_cart_{{ produk._id }}" pattern="[0-9]+" value="1" readonly>

                                        <button type="button" class="button is-success"
                                            onclick="incrementCart('{{ produk._id }}')">+</button>
                                    </div>
                                </div>
                                <div class="field">
                                    <input type="hidden" name="alamat" value="{{ address }}">
                                </div>
                            </section>
                            <footer class="modal-card-foot">
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button type="submit" class="button is-primary">Add to Cart</button>
                                    </div>
                                    <div class="control">
                                        <button type="button" class="button is-link"
                                            onclick="toggleModal('cartDataModal{{ produk._id }}')">Cancel</button>
                                    </div>
                                </div>
                            </footer>
                        </form>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </section>


    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is
                licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function toggleModal(modalId) {
            var modal = document.getElementById(modalId);
            modal.classList.toggle('is-active');
        }
        function incrementQuantity(productId) {
            var quantityInput = document.getElementById('jumlah_pesanan_' + productId);
            quantityInput.value = parseInt(quantityInput.value) + 1;
        }

        function decrementQuantity(productId) {
            var quantityInput = document.getElementById('jumlah_pesanan_' + productId);
            var newValue = parseInt(quantityInput.value) - 1;
            if (newValue >= 1) {
                quantityInput.value = newValue;
            }
        }

        function incrementCart(productId) {
            var quantityInput = document.getElementById('insert_cart_' + productId);
            quantityInput.value = parseInt(quantityInput.value) + 1;
        }

        function decrementCart(productId) {
            var quantityInput = document.getElementById('insert_cart_' + productId);
            var newValue = parseInt(quantityInput.value) - 1;
            if (newValue >= 1) {
                quantityInput.value = newValue;
            }
        }

        function filterProducts(category) {
            document.querySelectorAll('.product-card').forEach(card => {
                card.style.display = 'none';
            });

            if (category === 'All') {
                document.querySelectorAll('.product-card').forEach(card => {
                    card.style.display = 'block';
                });
            } else {
                document.querySelectorAll(`.product-card[data-category="${category}"]`).forEach(card => {
                    card.style.display = 'block';
                });
            }
        }

        function searchProducts() {
            const searchInput = document.getElementById('searchInput').value.toLowerCase();

            document.querySelectorAll('.product-card').forEach(card => {
                card.style.display = 'none';
            });

            document.querySelectorAll('.product-card').forEach(card => {
                const productName = card.querySelector('.subtitle').innerText.toLowerCase();
                if (productName.includes(searchInput)) {
                    card.style.display = 'block';
                }
            });
        }
    </script>



</body>

</html>