<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>Profile</title>
</head>
<style>
    body {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("{{ url_for('static', filename='background.jpg') }}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .field {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    .field-item {
        margin-right: 10px;
    }

    .label {
        flex: 1;
        margin-right: 5px;
    }

    .input {
        flex: 2;
    }
</style>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>
                <a class="navbar-item" href="/produk">
                    Produk
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if not logged_in %}
                        <a href="/signup" class="button is-primary">Sign Up</a>
                        <a href="/signin" class="button is-light">Login</a>
                        {% else %}
                        <a href="/keranjang">
                            <i class="fa-solid fa-cart-shopping mx-4" style="color: black;"></i>
                        </a>
                        <a href="/profile" class="profile-image">
                            <img class="is-rounded" src="{{ url_for('static', filename='default_profile.jpg') }}"
                                alt="Profile Image">
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="container is-max-desktop mt-6">
        <div class="notification is-white">
            <div class="columns is-mobile">
                <div
                    class="column is-half is-offset-one-quarter is-flex  is-justify-content-center is-align-items-center">
                    <figure class="media-left" style="align-self: center;">
                        <div class="" style="width: 96px; height: 96px;">
                            <a href="#">
                                <img class="is-rounded ml-4"
                                    src="{{ url_for('static', filename='profile_placeholder.png') }}" />
                            </a>
                        </div>
                    </figure>
                </div>
            </div>

            {% if user_info %}
            <div class="media-content is-flex is-justify-content-center">
                <div class="content ">
                    <p>
                        <small>@{{ user_info['name'] }}</small>
                        <br>
                    </p>
                </div>
            </div>
            {% endif %}

            <form method="post" action="{{ url_for('edit_profile') }}" enctype="multipart/form-data">
                {% if user_info %}
                <div class="field mt-5">
                    <label class="label">Name</label>
                    <input class="input" type="text" placeholder="e.g Alex Smith" name="name"
                        value="{{ user_info.name }}" {% if not edit_mode %}disabled{% endif %} required>
                </div>
                <div class="field">
                    <label class="label">Alamat</label>
                    <input class="input" type="text" placeholder="e.g Jl." name="address"
                        value="{{ user_info.address }}" {% if not edit_mode %}disabled{% endif %} required>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <input class="input" type="email" placeholder="e.g example@example.com" name="email"
                        value="{{ user_info.email }}" {% if not edit_mode %}disabled{% endif %} required>
                </div>
                {% if edit_mode %}
                <div class="field">
                    <button class="button is-danger" type="submit">Save Profile</button>
                    <a href="{{ url_for('profile') }}" class="button is-secondary">Cancel</a>
                </div>
                {% else %}
                <div class="field">
                    <a href="{{ url_for('profile', edit_mode=1) }}" class="button is-danger ml-auto">Edit Profile</a>
                </div>
                {% endif %}
            {% endif %}
        </form>


    </div>
    </div>


    <div class="container is-max-desktop mt-5">
        <div class="columns is-mobile">
            <div class="column">
                <div class="buttons is-fullwidth">
                    <a href="/riwayat-pesanan" class="button is-danger">Riwayat pemesanan</a>
                    <a href="/logout" class="button is-danger ml-auto">Log Out</a>
                </div>
            </div>
        </div>
    </div>


</body>

</html>